.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* background-color: rgba(93, 42, 204, 0.656); */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo {
  margin: 1px;
  margin-bottom: 6px;
}

.logo img {
  height: 50px;
  width: 50px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0;
  gap: 10px; /* add some gap between the icons */
}

.icons a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 6px 1px;
  gap: 20px; /* add some gap between the navigation links */
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.search-bar {
  margin-bottom: 6px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 5px;
  width: 250px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 10px;
  color: #fff; /* set text color to white */
}

.search-container button[type="submit"] {
  border: none;
  background-color: transparent;
}
.search-container button[type="submit"]:hover{
  color: rgb(27, 14, 74);
}

.search-container .search-icon {
  color: #fff;
}

.copy {
  font-size: 1rem;
  color: #fff; /* set text color to white */
}

.owner{
  background-color: rgb(30, 30, 104);
  width: 100vw;
  height: 26px;
  color: #fff;
  justify-content: center;
  text-align: center;
  margin-bottom: -20px;
}
